@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan animasi custom */
@keyframes bounce-slow {
  0%, 100% { transform: translateY(-5%); }
  50% { transform: translateY(5%); }
}
.animate-bounce-slow {
  animation: bounce-slow 3s infinite;
}